<div class="container-fluid">

    <p ng-if="personProfCtrl.errors" ng-repeat="error in personProfCtrl.errors">{{error.message}}: {{error.cause}}</p>

    <div class="row">
        <div class="col-xs-3 col-sm-4">
            <img ng-src="{{personProfCtrl.profile.img.thumb}}"/>
        </div>
        <div class="col-xs-9 col-sm-8">
            <h3> {{personProfCtrl.profile.name}}: {{personProfCtrl.profile.age}}</h3>
            <div> {{personProfCtrl.profile.motto}}</div>
        </div>

    </div>
</div>
