/* any input that has been edited by the user (dirty) but is not yet valid */
.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

/* ny input that has been edited by the user (dirty) and is valid */
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.dynamic-content {
    border: 1px solid red;
    min-height: 20px;
}

.warning-text {
    color: red;
}