<!DOCTYPE html>

<html ng-app="myApp">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body>

        <h1>{{"Feed the grumpy people" | uppercase}}</h1>

        <!-- Scope of the controller is only within the div -->
        <div class="container-fluid" ng-controller="PersonController as personControl">

            <div>
                Last saved at: {{personControl.lastSavedAt | date:'dd/MM/yyyy HH:mm:ss'}}<br/>
                Money remaining: {{personControl.wallet | currency}}
            </div>
            <br/>

            <!-- this div will repeat for each element in the array -->
            <div ng-repeat="user in personControl.people | orderBy:'age'">

                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <!-- ng-class will set the specified class (in this case 'active') if the
                        expression after the colon is true -->
                        <li ng-class="{ active:panel.isSelected(1)}">
                            <!-- ng-click will evaluate the expression when the element is clicked
                            so in this case it will call the function selectTab with a parameter of 1 -->
                            <a href ng-click="panel.selectTab(1)">Person</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(2)}">
                            <a href ng-click="panel.selectTab(2)">Favourite Food</a>
                        </li>
                        <li ng-class="{ active:panel.isSelected(3)}">
                            <a href ng-click="panel.selectTab(3)">Food Diary</a>
                        </li>
                    </ul>

                    <!-- create different panels to show when isSelected(x) returns true -->
                    <div class="panel" ng-show="panel.isSelected(1)">
                        <div class="row">
                            <div class="col-xs-3 col-sm-4">
                                <img ng-src="{{user.img.thumb}}"/>
                            </div>
                            <div class="col-xs-9 col-sm-8">
                                <h3> {{user.name}}: {{user.age}}</h3>
                                <div> {{user.motto}}</div>

                                <!-- this button will only display if the ng-show expression is true -->
                                <button ng-show="user.isHungry" class="btn btn-default btn-xs">Feed Me</button>
                            </div>

                        </div>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        Favourite Food
                    </div>
                    <div class="panel" ng-show="panel.isSelected(3)">

                        <br/>
                        <blockquote>
                            Food: {{entry.food}}<br/>
                            Comment: {{entry.comment}}
                        </blockquote>

                        <form class="form-horizontal" name="diaryForm">
                            <fieldset class="form-group">
                                <label for="diaryFoodInput" class="col-xs-2 control-label">Food:</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="diaryFoodInput"  ng-model="entry.food"
                                           placeholder="Enter food eaten..."/>
                                </div>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="diaryCommentInput" class="col-xs-2 control-label">Comment:</label>
                                <div class="col-xs-6">
                                    <input type="text" class="form-control" id="diaryCommentInput" ng-model="entry.comment"
                                           placeholder="Enter comments..."/>
                                </div>
                            </fieldset>
                            <input type="submit" value="Submit"/>
                        </form>

                        <!-- show the latest 3 entries ordered by time descending -->
                        <div class="container" ng-repeat="entry in user.diary | orderBy:'-time' | limitTo:'3'">
                            <hr/>
                            <div class="row">
                                <div class="col-xs-2">Time:</div>
                                <div class="col-xs-10">{{entry.time | date:'dd/MM/yyyy HH:mm:ss'}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">Food:</div>
                                <div class="col-xs-10">{{entry.name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">Comment:</div>
                                <div class="col-xs-10">{{entry.comment}}</div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </section>

            </div>
        </div>

    </body>

</html>