<!DOCTYPE html>

<html ng-app="myApp">

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.2/angular.min.js"></script>
        <script src="app.js"></script>
    </head>

    <body>

        <h1>{{"Feed the grumpy people" | uppercase}}</h1>

        <!-- Scope of the controller is only within the div -->
        <div class="container-fluid" ng-controller="PersonController as personControl">

            <div>
                Last saved at: {{personControl.lastSavedAt | date:'dd/MM/yyyy HH:mm:ss'}}<br/>
                Money remaining: {{personControl.wallet | currency}}
            </div>
            <br/>

            <!-- this div will repeat for each element in the array -->
            <div ng-repeat="user in personControl.people | orderBy:'age'">

                <!-- ng-init will evaluate the expression within the current scope
                so this will initialise the displayed tab to panel 1 -->
                <section ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <!-- ng-class will set the specified class (in this case 'active') if the
                        expression after the colon is true -->
                        <li ng-class="{ active:panel.tab === 1}">
                            <!-- ng-click will evaluate the expression when the element is clicked
                            so in this case it will call the function selectTab with a parameter of 1 -->
                            <a href ng-click="panel.selectTab(1)">Person</a>
                        </li>
                        <li ng-class="{ active:panel.tab === 2}">
                            <a href ng-click="panel.selectTab(2)">Favourite Food</a>
                        </li>
                        <li ng-class="{ active:panel.tab === 3}">
                            <a href ng-click="panel.selectTab(3)">Food Diary</a>
                        </li>
                    </ul>

                    <!-- create a different panel to show when the 'tab' property matches -->
                    <div class="panel" ng-show="panel.tab === 1">
                        <div class="row">
                            <div class="col-xs-3 col-sm-4">
                                <img ng-src="{{user.img.thumb}}"/>
                            </div>
                            <div class="col-xs-9 col-sm-8">
                                <h3> {{user.name}}: {{user.age}}</h3>
                                <div> {{user.motto}}</div>

                                <!-- this button will only display if the ng-show expression is true -->
                                <button ng-show="user.isHungry" class="btn btn-default btn-xs">Feed Me</button>
                            </div>

                        </div>
                    </div>
                    <div class="panel" ng-show="panel.tab === 2">
                        Favourite Food
                    </div>
                    <div class="panel" ng-show="panel.tab === 3">
                        Food Diary
                    </div>
                </section>

            </div>
        </div>

    </body>

</html>